a {
    color: #025aa5;
}
body {
    background: #F1F1F1;
    padding-top: 60px;
}
body, pre {
    color: #4b4b4b;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body .fixed-top {
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1)
}

/* Vue */
[v-cloak] {
	position: relative;
}
[v-cloak] > * {
    visibility: hidden;
}
[v-cloak]:before {
    content:"";
    background: url("../images/ajax-loader.gif") no-repeat top center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}