{% extends "document.html" %}

{% block body %}
<div class="container container-first height-medium">
    <div class="row">
        <div class="col-12">
            <div id="calendar" v-cloak>
                <h1 class="header-1">${month} ${year}</h1>
                <table class="table">
                    <tr v-for="(row, key) in matrix">
                        <td v-for="col in row">
                            <span v-if="isDate(col)">${formatDate(col, 'D')}</span>
                            <span v-else>${col}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
var calendar = new Vue({
    el: '#calendar',
    delimiters: ["${", "}"],
    components: {
    },
    data: { 
        matrix: getMatrix(moment(), 0),
        month: "{{month}}",
        year: {{year}},
        momentNow: moment(),
    },
    methods: {
        isDate: function(date){
            return moment(date).isValid()
        },
        formatDate: function(date, format){
            return moment(date).format(format)
        },
        getMatrix: function(momentNow, weekStart) {
            return getMatrix(momentNow, weekStart)
        }
    }
})
</script>
{% endblock %}
